<div class="container my-4">
    {{{cookie_policy_title}}}
    {{{cookie_policy_whatare}}}
    {{{cookie_policy_howweuse}}}
    {{{cookie_policy_disabling}}}
    {{{cookie_policy_ourcookies}}}
    {{{cookie_policy_thirdparty}}}
    {{{cookie_policy_moreinfo}}}
</div>